/***************************
********MODAL-WINDOW********
***************************/
body.modal-photo {
    overflow: hidden;
}
html.modal-photo {
    overflow: hidden;
}
html.active {
    overflow: hidden;
}
body.active {
    overflow: hidden;
}

.popup-bg.active {
    display: block;
}

.popup-bg {
    display: none;
}

.text__modal__window {
    h2 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 39px;

        color: #ffffff;

        text-align: center;

        margin: 0 20px 0 20px;
    }
}

.close__modal__window span::before {
    content: '';

    background: #FFF;

    position: absolute;
    right: 10px;

    width: 35px;
    height: 4px;

    border-radius: 2px;

    transition: all 0.3s ease;

    cursor: pointer;
}
.close__modal__window span::after {
    content: '';

    background: #FFF;

    position: absolute;
    right: 10px;

    width: 35px;
    height: 4px;

    border-radius: 2px;

    transition: all 0.3s ease;

    cursor: pointer;
}
.close__modal__window.active span::before {
    transform: rotate(45deg);

    top: 22px;
}
.close__modal__window.active span::after {
    transform: rotate(-45deg);

    top: 22px;
}

.close__modal__window {
    width: 56px;
    height: 50px;

    position: absolute;

    right: 6px;
    top: 5px;

    cursor: pointer;
}


.overlay.active {
    display: flex;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.8);

    transition: all .3s ease;

    z-index: 1;
    
    cursor: pointer;
}
.overlay.modal-photo {
    display: flex;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.8);

    transition: all .3s ease;

    z-index: 1;
}

.modal__window {
    display: block;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 0;
}

.modal__window.active {
    position: fixed;

    scroll-behavior: smooth;

    width: 440px;

    background: #000;

    text-align: center;

    padding: 30px;

    border-radius: 15px;

    overflow: hidden;

    box-shadow: 2px 2px 20px rgb(0 0 0);

    animation: popup .3s ease-in 1 forwards;

    visibility: visible;
    opacity: 1;

    z-index: 5;
}
@keyframes popup {
    from {
        opacity: 0;
        transform: translate(-50%, -50%);
    }
    to {
        opacity: 1;
    }
}

@media (max-width:520px) {
    .modal__window.active {
        display: flex;
        flex-direction: column;
        justify-content: center;

        width: 100%;
        height: 100%;

        padding: 0;

        border-radius: 0;
    }
    .modal__window h1 {
        padding: 10px 0 0 0;
    }
    .modal__window textarea {
        max-width: 235px;
    }
    .modal__window input[type="text"] {
        max-width: 185px;
    }
    .modal__window input[type="text"]:focus {
        max-width: 250px;
        border-color: #2cad7c;
    }
}
.modal__window h1 {
    color: #FFF;
    
    text-transform: uppercase;

    text-align: center;

    display: inline-block;
}

.modal__window input[type="text"] {
    border: 0;

    background: none;

    display: block;

    margin: 20px auto;

    text-align: center;

    border: 2px solid #054C73;
    border-radius: 20px;

    padding: 14px 10px;

    color: #FFF;

    width: 200px;

    outline: none;

    transition: .3s ease;
}

.modal__window input[type="text"]:focus {
    width: 280px;

    border-color: #cedae7;
}

.modal__window input[type="submit"] {
    border: 0;

    background: none;

    display: block;

    margin: 20px auto;

    text-align: center;

    border: 2px solid #2cad7c;
    border-radius: 20px;

    padding: 14px 15px;

    color: #FFF;

    outline: none;

    transition: .3s ease;

    cursor: pointer;

    font-weight: 700;
}
.modal__window input[type="submit"]:hover {
    background: #2cad7c;

    transition: .3s ease;

    box-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 10px #49ff18, 0 0 20px #49FF18, 0 0 30px #49FF18 ,2px 2px 2px rgba(206,50,138,0);
}
.modal__window textarea {
    border: 0;

    background: none;

    display: block;

    margin: 20px auto;

    border: 2px solid #054C73;
    border-radius: 20px;

    padding: 14px 10px;

    color: #FFF;

    width: 290px;

    outline: none;

    transition: .3s ease;

    resize: none;
}

.messenger__modal__window {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    margin-top: 30px;

    .messenger__overlay {
        display: flex;
        align-items: center;
        gap: 20px;

        a {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 35px;
        color: #FFFFFF;
        max-width: 410px;
            
        transition: 0.9s ease 0.2s;
        }

        &:nth-child(1) {
            svg {
                fill: #9788FF;
            }
        }

        &:nth-child(2) {
            svg {
                fill: #20eaf1;
            }
        }

        &:nth-child(3) {
            svg {
                fill: #25D366;
            }
        }

        svg {
            width: 35px;
            height: 35px;
        }
    }
}